.quick-view-card {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-15%);
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  padding: 8px;
  width: 150px;
  z-index: 10;
  color: #000;
}

.quick-view-card .quick-view-card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

.quick-view-content-price {
  margin: 0 10px 5px 0;
  font-weight: 600;
  text-align: left;
  font-size: large;
  display: block;
}

.quick-view-content-label-wrapper {
  display: flex;
  column-gap: 7px;
  align-items: center;
}

.quick-view-card .view-listing-btn {
  margin-top: 6px;
  width: 100%;
  padding: 6px;
  background-color: #5695c6;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
